[submodule "themes/portio"]
	path = themes/portio
	url = https://github.com/StaticMania/portio-hugo
[submodule "themes/mctheme2"]
	path = themes/mctheme2
	url = https://github.com/Ashonko/portio-hugo.git
[submodule "themes/mctheme"]
	path = themes/mctheme
	url = https://github.com/Ashonko/portio-hugo.git
